<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <servers>
    <server>
      <id>${lagiclabs-snapshots}</id>
      <username>${admin}</username>
      <password>${1234}</password>
    </server>
    <server>
      <id>${logiclabs-maven-release}</id>
      <username>${admin}</username>
      <password>${1234}</password>
    </server>
        <server>
        <id>{logiclabs-maven-central}</id>
      <username>${admin}</username>
      <password>${1234}</password>
    </server>
    <server>
        <id>{logiclabs-maven-group}</id>
      <username>${admin}</username>
      <password>${1234}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>${logiclabs-maven-central}</id>
      <name>${logiclabs-maven-central}</name>
      <url>http://${172.31.4.84}:${8081}/mohananarasimha/${logiclabs-maven-group}/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

</settings>
